@model IEnumerable<Produtor>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>Atores - <a class="btn btn-dark" asp-action="Criar">Cadastrar</a></h1>

        <div class="col-12 my-2">
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Buscar ator(a)..." />
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>@Html.DisplayNameFor(model => model.FotoPerfilURL)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Bio)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produtor in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex flex-column">
                                <a class="btn btn-success" asp-action="Atualizar" asp-route-id="@produtor.Id"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                <br />
                                <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@produtor.Id"><i class="fa-solid fa-ban"></i> Excluir</a>
                                <br />
                                <a class="btn btn-primary" asp-action="Detalhes" asp-route-id="@produtor.Id"><i class="fa-solid fa-eye"></i> Ver</a>
                            </div>
                        </td>
                        <td class="align-middle"><img src="@produtor.FotoPerfilURL" alt="@produtor.Nome"></td>
                        <td class="align-middle">@produtor.Nome</td>
                        <td class="align-middle">@produtor.Bio</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>